.igwrapper {
  background: #fff;
  position: relative;
}
.igwrapper iframe {
  border: 0;
  position: relative;
  z-index: 2;
}
.igwrapper a {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
